.menu__header{
    display: flex;
}

.menu__header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    margin-right: 5rem;
}

.menu__header-content h1 {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 800;
    font-size: 62px;
    line-height: 50px;
    color: white;
    text-align: center;
    margin-top: 1.5rem;
    padding-bottom: 20px;
}
@media screen and (max-width: 1050px) {
    .menu__header {
        flex-direction: column;
    }

    .menu__header-content {
        margin: 0 0 3rem;
    }
}
@media screen and (max-width: 650px) {
    .menu__header-content h1 {
        font-size: 48px;
        line-height: 60px;
    }
}

@media screen and (max-width: 490px) {
    .menu__header-content h1 {
        font-size: 36px;
        line-height: 48px;
    }
}